body {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  background-color: #ffffff
}

.header {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 18px;
}

.bottom {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 9px;
	  text-align: center;
	  vertical-align: middle;
	  color: #8E969D;
}

.mytable {
	border: 1px solid #CAD6E0;
	vertical-align: middle;
	width: 100%;
}

.mycell {
	background-color: #E4EBEB;
	vertical-align: middle;
	margin-left:auto;
	margin-right:auto;	
}

table.listagem {
	width: 100%;
	border-collapse: collapse; /* so we can control cellspacing in a practical way */
	border-bottom: 1px solid #000;
}

table.listagem th,
table.listagem td {
	padding: 5px;
	text-align: left;
	font-family: Arial, Verdana, sans-serif;
	border: 1px solid #000; /* let's apply borders */
	border-bottom:0;
}


table.listagem th {
	background-color: #ddd;
	color: #BB0000;
	border-bottom: 2px solid #000;
}

table.listagem tr.odd {
	background-color: #DDFFFF;
}

table.listagem tr.odd td {
	border-top: 1px solid #ccc;
}

table.listagem tr.even {
	background-color: #FBFBFB;
}

table.listagem tr.even td {
	border-top: 1px solid #BBEEEE;
}
