<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="titulo">
		<h:outputText value="Cadastro de Categorias" />
	</ui:define>

	<ui:define name="subtitulo">
		<h:outputText value="Cadastro de Categorias" />
	</ui:define>
	<ui:define name="conteudo">
		<h:form>
			<h:messages />
				<h:inputHidden id="idCategoria" value="#{categoriaMB.categoria.id}"/>
			<h:panelGrid columns="2" border="1">
				<f:facet name="header">
					<h:outputText value="Dados Categoria" />
				</f:facet>
				<h:outputLabel value="Descrição: " for="itDescricao" />
				<h:inputText value="#{categoriaMB.categoria.descricao}"
					id="itDescricao" required="true"
					requiredMessage="A descrição é obrigatória" 
					valueChangeListener="#{categoriaMB.valueAlterado}"> 
				
				<f:valueChangeListener type="br.com.softplan.moduloI.helper.Auditoria"/>	
				</h:inputText>

				<f:facet name="footer">
					<h:commandButton action="#{categoriaMB.salvar()}" value="#{i18n['form.botao.salvar']}"
					  actionListener="#{categoriaMB.botaoPressionado}">
					
					 <f:actionListener type="br.com.softplan.moduloI.helper.Seguranca"/>
					</h:commandButton>
				</f:facet>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>