<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="subtitulo">
		<h:outputFormat value="Lista de Categorias" />
	</ui:define>
	<ui:define name="conteudo">
		<h:form>
			<h:messages />
			<h:dataTable value="#{categoriaMB.categorias}" var="categoria" styleClass="listagem"
				border="1">
				<f:facet name="header">
					<h:outputText value="Categorias" />
				</f:facet>
				<h:column>
					<f:facet name="header">
						<h:outputText value="ID" />
					</f:facet>
					<h:outputText value="#{categoria.id}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{categoria.descricao}" />
				</h:column>
				
				<h:column>
					<f:facet name="Ações"></f:facet>
					<h:commandButton action="#{categoriaMB.editar()}" value="Editar" />
					<h:commandButton action="#{categoriaMB.excluir()}" value="Excluir" />
				</h:column>

				<br />
			</h:dataTable>
			<h:commandLink action="/moduloI/categoria/cadastrar.jsf"
				value="Voltar à tela categoria" />
		</h:form>
	</ui:define>
</ui:composition>
</html>