<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"> 
	

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="subtitulo">
		<h:outputText value="Chat Online" />
	</ui:define>
	<ui:define name="titulo">
		<h:outputText value="Chat Online" />
	</ui:define>
	<ui:define name="conteudo">
		<h:messages id="msg" showDetail="true" errorStyle="color: red;"
				infoStyle="color: yeelow" />
		<h:form id="formChatTexto">
			<h:panelGrid columns="2">
				<h:outputLabel value="Usuário:" for="itUsuario" />
				<h:outputText value="#{chatMB.usuario}" id="itUsuario" /> 
				<h:outputLabel value="Texto" for="itTexto" />
				<h:inputTextarea value="#{chatMB.texto}" cols="40" id="itTexto" 
					required="true" requiredMessage="Um texto é obrigatório">
					<f:ajax event="blur" render="msg"/>
				</h:inputTextarea>
				<f:facet name="footer">
					<h:commandButton action="#{chatMB.enviar()}" value="Enviar" />
					<h:commandButton action="#{chatMB.limpar()}" value="Apagar Mensagens" />
					<h:commandButton action="/moduloIV/chat/loginChat" value="Sair" immediate="true" />				
				</f:facet>
			</h:panelGrid>
			<br/>
			<h:dataTable value="#{chatMB.textos}" var="texto" rendered="#{not empty chatMB.textos}">
				<f:facet name="header">
					<h:outputText value="Mensagens Enviadas" />
				</f:facet>
				<h:column>
					<h:outputText value=" #{texto}" />
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
	

</ui:composition>
</html>
