<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"> 
	

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="subtitulo">
		<h:outputText value="Chat Online - Login" />
	</ui:define>
	<ui:define name="titulo">
		<h:outputText value="Chat Online - Login" />
	</ui:define>
	<ui:define name="conteudo">
		<h:messages id="msg" showDetail="true" errorStyle="color: red;"
				infoStyle="color: yeelow" />
		<h:form id="formChatLogin">
			<h:panelGrid columns="2">
				<h:outputLabel value="Usuário:" for="itUsuario" />
				<h:inputText value="#{chatMB.usuario}" id="itUsuario" 
						required="true" requiredMessage="O nome do usuário é obrigatório">
					<f:ajax event="blur" render="msg"/>
				</h:inputText>
				<f:facet name="footer">
					<h:commandButton value="Acessar chat" action="#{chatMB.acessar()}"/>
				</f:facet>
			</h:panelGrid>
		</h:form>
	</ui:define>
	

</ui:composition>
</html>
