<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="titulo"><h:outputText value="Envio de Email" /> </ui:define>
	<ui:define name="subtitulo"><h:outputText value="Dados" /> </ui:define>
	<ui:define name="conteudo">
		<h:form id="formContato">
			<h:panelGrid columns="2">
				<h:outputLabel value="Destinatário: " for="itDestino" />
				<h:inputText id="itDestino" value="#{contatoMB.email.destinatario}" />
			
				<h:outputLabel value="Assunto: " for="itAssunto" />
				<h:inputText value="#{contatoMB.email.assunto}" id="itAssunto" />
				
				<h:outputLabel value="Mensagem: " for="itMenssagem" />
				<h:inputTextarea value="#{contatoMB.email.mensagem}" id="itMenssagem" cols="50" rows="7" />
				
				<h:commandButton action="#{contatoMB.enviarEmail()}" value="Enviar Menssagem" />
			</h:panelGrid>
		</h:form>
	</ui:define>	
</ui:composition>
</html>