<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label" required="true"
		shortDescription="Texto para este item de menu" />
	<composite:attribute name="action" targets="item"
		shortDescription="Ação a ser executada quando o item de menu for selecionado" />
</composite:interface>

<composite:implementation>
	<h:commandLink value="[#{cc.attrs.label}]" id="item"/>
</composite:implementation>
</html>