<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Softplan JEE</title>
</h:head>
<body>
	<h1>Componentes Visuais</h1>

	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Sexo:" for="sexo" />
			<h:selectOneRadio value="#{componenteMB.sexoSelecionado}" id="sexo">
				<f:selectItem itemValue="M" itemLabel="Masculino" />
				<f:selectItem itemValue="F" itemLabel="Femenino" />
			</h:selectOneRadio>

			<h:panelGroup>
				<h:selectBooleanCheckbox id="receberEmail"
					value="#{componenteMB.receberEmail}" />
				<h:outputLabel value="Desejo receber emails de propaganda"
					for="receberEmail" />
			</h:panelGroup>
			<h:outputLabel value="" />

				<h:outputLabel value="Gêneros: " for="generos" />
			<h:panelGroup>
				<h:selectManyCheckbox id="generos"
					value="#{componenteMB.generosSelecionados}">
					<f:selectItems value="#{componenteMB.generos}" />
				</h:selectManyCheckbox>
			</h:panelGroup>
			<f:facet name="footer">
				<h:commandButton action="#{componenteMB.executar()}"
					value="Executar" />
			</f:facet>
		</h:panelGrid>

	</h:form>
</body>
</html>
