<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="conteudo">
		<h:form>
			<h:messages />
			<h:panelGrid columns="2">
				<h:outputLabel value="Login: " for="itLogin" />
				<h:inputText value="#{loginMB.login}" id="itLogin" required="true"
					requiredMessage="O campo nome é obrigatório" />

				<h:outputLabel value="Senha" for="itSenha" />
				<h:panelGroup>
					<h:inputSecret value="#{loginMB.senha}" id="itSenha"
						required="true" requiredMessage="A senha é obrigatporia" />
					<h:outputText value="(mínimu 5 caracteres)" />
				</h:panelGroup>

				<f:facet name="header">
					<h:outputText value="Autenticação do Usuário" />
				</f:facet>

				<f:facet name="footer">
					<h:commandButton action="#{loginMB.autenticar()}"
						value="Autenticar" />
				</f:facet>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>
