<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition>
	<h:form>
		<h:commandLink value="[Home]" action="/home" />
		<h:commandLink value="[Login]" action="/moduloI/login" />
		<h:commandLink value="[Cadastrar Produto]" action="#{produtoMB.novo()}" />
		<h:commandLink value="[Listar Produtos]" action="/moduloI/produto/listar" />
		<h:commandLink value="[Cadastrar Categoria]" action="#{categoriaMB.novo()}" />
		<h:commandLink value="[Listar Categorias]" action="/moduloI/categoria/listar" />
		

	</h:form>
</ui:composition>
</html>