<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Softplan JEE - Navegation</title>
</h:head>
<h:body>
	<h1>Sorftplan JEE - Exemplo Navegation</h1>
	<h:form>
		<h:commandLink value="Cadastrar Funcionários"
			action="cadastrarFuncionario" />
		<br />
		<h:commandLink value="Lista de Funcionários" action="/moduloI/funcionario/listar" />
			
		<br />
		<h:commandLink value="Cadastrar Categoria" action="cadastrarCategoria" />
			
	</h:form>
</h:body>
</html>