<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition>
	<hr/>
	<h:panelGroup>
		<h:graphicImage name="logo_softplan.jpg" library="imagens" width="60px"/>
		<h:outputText value="Curso EAD de Java EE 6 - JSF 2.0" />
	</h:panelGroup>
</ui:composition>
</html>