<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="subtitulo"><h:outputText value="Exemplo de EntityManager" /> </ui:define>
	<ui:define name="conteudo">
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Categoria " />
				<h:inputText value="#{controller.categoria}" />
				<h:commandButton value="Chamar Método"
					action="#{controller.metodo()}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>
