<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h1>Tela Exemplo com XHTML - Módulo I - Parte 3</h1>
</h:head>
<body>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nome: " />
			<h:inputText value="#{exemploMB.nome}" />
			<h:commandButton value="Executar" action="#{exemploMB.exeutar()}" />

		</h:panelGrid>
	</h:form>
</body>
</html>
