<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:softplan="http://java.sun.com/jsf/composite/componentes">

<h:head>
	<f:loadBundle var="i18n" basename="mensagens_pt"/>
	<title><h:outputText value="Softplan Java EE 6 " /></title>
	
	<h:outputScript library="js" name="mootools.js"/>
	<h:outputScript library="js" name="iMask-full.js"/>
	<h:outputScript library="js" name="iMask-init.js"/>
	<h:outputStylesheet library="css" name="exemplo.css" />
</h:head>
<h:body>
<!-- 	<ui:include src="/moduloI/menu.xhtml" /> -->
	<softplan:menu> 
		<softplan:menuItem label="Home" action="/home"/>
		<softplan:menuItem label="Login" action="/moduloI/login"/>
		<softplan:menuItem label="Cadastrar Produto" action="#{produtoMB.novo()}"/>
		<softplan:menuItem label="Listar Produtos" action="/moduloI/produto/listar"/>
		<softplan:menuItem label="Cadastrar Categoria" action="#{categoriaMB.novo()}"/>
		<softplan:menuItem label="Listar Categorias" action="/moduloI/categoria/listar"/>
		<softplan:menuItem label="Abertura de Conta" action="/moduloIII/banco/abrirConta"/>
		<softplan:menuItem label="Caixa Eletrônico" action="/moduloIII/banco/caixa"/>
		<softplan:menuItem label="Extrato Online" action="/moduloIII/banco/extrato"/>
		<softplan:menuItem label="JPAProducer" action="/moduloI/tela"/>
		<softplan:menuItem label="Contato" action="/moduloIV/contato"/>
	</softplan:menu>
	<h1><ui:insert	name="titulo">JSF 2.0</ui:insert></h1>
	<h3><ui:insert name="subtitulo"><h:outputText value="Tela de Template Exemplo" /></ui:insert></h3>
	<h:panelGrid columns="1" width="100%" border="0" styleClass="mytable">
		<ui:insert name="conteudo"><h:outputText value="Conteúdo Principal" /> </ui:insert>
		<ui:include src="/moduloI/rodape.xhtml" />
	</h:panelGrid>
	<ui:debug />
</h:body>
</html>