<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Soft Plan JEE</title>
</h:head>

<h:body>
	<h1>Atualizar Funcionário</h1>
	<h:form>
		<h:messages />

		<h:panelGrid columns="2">
			<f:facet name="header">
				<h:outputText value="Dados do Funcionário" />
			</f:facet>

			<h:outputLabel value="Nome: " for="itNome" />
			<h:inputText value="#{funcionarioMB.funcionario.nome}" id="itNome" />

			<h:outputLabel value="Telefone: " for="itTelefone" />
			<h:inputText value="#{funcionarioMB.funcionario.telefone}"
				id="itTelefone" />

			<h:outputLabel value="Data Admissão: " for="itData" />
			<h:inputText value="#{funcionarioMB.funcionario.dataAdmissao}"
				id="itData" />

			<h:outputLabel value="Salário: " for="itSalario" />
			<h:inputText value="#{funcionarioMB.funcionario.salario}"
				id="itSalario" />

			<h:outputLabel value="Sexo: " for="itSexo" />
			<h:selectOneRadio value="#{funcionarioMB.funcionario.sexo}">
				<f:selectItem itemValue="M" itemLabel="Masculino" />
				<f:selectItem itemValue="F" itemLabel="Femenino" />
			</h:selectOneRadio>

			<h:outputLabel value="Cargo: " for="itCargo" />
			<h:selectOneMenu value="#{funcionarioMB.funcionario.cargo}"
				id="itCargo">
				<f:converter converterId="meuConversorCargo"/>
				<f:selectItems value="#{funcionarioMB.cargosItens}"  />
			</h:selectOneMenu>
			
			<f:facet name="footer">
				<h:commandButton action="#{funcionarioMB.salvar()}" value="Salvar" />
				<h:commandButton action="#{funcionarioMB.novo()}" value="Novo" />
			</f:facet>
		</h:panelGrid>
	<br/>
	<h:commandLink action="/moduloI/navegation.jsf" value="Voltar" />
	</h:form>
	
</h:body>
</html>