<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Softplan JEE</title>
</h:head>
<h:body>
	<h1>Lista de Funcionários</h1>
</h:body>
<h:form>
	<h:messages />
	<h:dataTable value="#{funcionarioMB.funcionarios}" var="funcionario" border="1">
		<f:facet name="header">
			<h:outputText value="Funcinários" />
		</f:facet>
		<h:column>
			<f:facet name="header">
				<h:outputText value="ID" />
			</f:facet>
			<h:outputText value="#{funcionario.id}" />
		</h:column>

		<h:column>
			<f:facet name="header">
				<h:outputText value="Nome" />
			</f:facet>
			<h:outputText value="#{funcionario.nome}" />
		</h:column>
		
		<h:column>
			<f:facet name="header">
				<h:outputText value="Telefone" />
			</f:facet>
			<h:outputText value="#{funcionario.telefone}" />
		</h:column>
		
		<h:column>
			<f:facet name="header">
				<h:outputText value="Dt. Adminssão" />
			</f:facet>
			<h:outputText value="#{funcionario.telefone}" />
		</h:column>
		
		<h:column>
			<f:facet name="header">
				<h:outputText value="Cargo" />
			</f:facet>
			<h:outputText value="#{funcionario.cargo.descricao}" >
			</h:outputText>
		</h:column>

		<h:column>
			<f:facet name="header">
				<h:outputText value="Salário" />
			</f:facet>
			<h:outputText value="#{funcionario.salario}" />
		</h:column>
		
		<h:column>
			<f:facet name="header">
				<h:outputText value="Ações" />
			</f:facet>
			<h:commandButton action="#{funcionarioMB.editar()}" value="Editar" />
			<h:commandButton action="#{funcionarioMB.remover()}" value="Excluir" />
		</h:column>
		<br/>
	</h:dataTable>
		<h:commandLink action="/moduloI/navegation.jsf" value="Voltar à tela inicial" />
</h:form>
</html>