<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/moduloIV/templateRichafaces.xhtml">

	<ui:define name="subtitulo">
		<h:outputText value="Cadastro de Produtos" />
	</ui:define>
	<ui:define name="conteudo">
		<h:form>
			<h:messages id="msg" />
			<br />
			<h:inputHidden id="idProduto"
				value="#{produtoMB.produtoSelecionado.id}" />
			<h:panelGrid columns="2">
				<h:outputLabel value="Código: " for="itCodigo" />
				<h:panelGroup>
					<h:inputText id="itCodigo"
						value="#{produtoMB.produtoSelecionado.codigo}" required="true"
						requiredMessage="Um código para o produto é obrigatório!"
						styleClass="iMask"
						alt="{type: 'fixed', mask: 'xxxx-99', stripMask: false}" />
					<h:outputText value=" (xxxx-99)" />
				</h:panelGroup>

				<h:outputLabel value="Descrição: " for="itdescricao" />
				<h:inputText value="#{produtoMB.produtoSelecionado.descricao}"
					id="itdescricao">
					<f:ajax event="keypress" render="outDescricao" />
				</h:inputText>

				<h:outputLabel value="Categoria: " for="itCategoria" />
				<h:selectOneMenu value="#{produtoMB.produtoSelecionado.categoria}"
					id="itCategoria">
					<f:selectItems value="#{categoriasItens}" var="categoria"
						itemLabel="#{categoria.description}" itemValue="#{categoria}" />
					<f:ajax event="change" listener="#{produtoMB.tradatorEvento}"
						render="itdescricao itPreco" />
				</h:selectOneMenu>

				<h:outputLabel value="Preço: " for="itPreco" />
				<h:inputText id="itPreco"
					value="#{produtoMB.produtoSelecionado.preco}"
					requiredMessage="Um preço válido é obrigatório!" styleClass="iMask"
					alt="{type: 'number', groupSymbol: '.', groupDigits: 3, decSymbol: ',', decDigits: 2, strpMask: false }">
					<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
					<f:validateRequired />
					<f:validateDoubleRange minimum="0.01" maximum="10000.00" />
					<f:ajax event="blur" render="msg" />
				</h:inputText>

				<f:facet name="footer">
					<h:commandButton action="#{produtoMB.salvar()}" value="Salvar" />
				</f:facet>
			</h:panelGrid>
			<h:outputText value="#{produtoMB.produtoSelecionado.descricao}"
				id="outDescricao" />
		</h:form>

	</ui:define>
</ui:composition>
</html>