<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="subtitulo">
		<h:outputText value="Tela Exemplo com DataTable" />
	</ui:define>
	<ui:define name="conteudo">
		<h:form>
			<h:dataTable value="#{produtoMB.produtos}" var="produto" border="1"
				styleClass="listagem">
				<f:facet name="header">
					<h:outputText value="Lista de Produtos" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID" />
					</f:facet>
					<h:outputText value="#{produto.id}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Código" />
					</f:facet>
					<h:outputText value="#{produto.codigo}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Descrição" />
					</f:facet>
					<h:outputText value="#{produto.descricao}" />
				</h:column>
				
				<h:column>
					<f:facet name="header">
						<h:outputText value="Categoria" />
					</f:facet>
					<h:outputText value="#{produto.categoria.descricao}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Preço" />
					</f:facet>
					<h:outputText value="#{produto.preco}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Ações" />
					</f:facet>
					<h:commandButton action="#{produtoMB.editar()}" value="#{i18n['produto.botao.editar']}" />
					<h:commandButton action="#{produtoMB.excluir()}" value="#{i18n['produto.botao.excluir']}" />
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>
