<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloI/template.xhtml">
	<ui:define name="subtitulo"><h:outputText value="Home JSF" /> </ui:define>
	<ui:define name="conteudo">
		<p>Este é um conteúdo inserido via tag ui:define</p>
	</ui:define>		
</ui:composition>
</html>