<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="titulo">
		<h:outputText value="Banco Softplan" />
	</ui:define>
	<ui:define name="subtitulo">
		<h:outputText value="Abertura de Conta" />
	</ui:define>

	<ui:define name="conteudo">
		<h:form id="formAbrirConta">
			<h:messages id="msg" />
			<h:panelGrid columns="2">

				<h:outputLabel value="Banco:" for="itBanco" />
				<h:selectOneMenu value="#{caixaMB.conta.banco}" id="itBanco"
					required="true"
					requiredMessage="O campo Banco deve ser selecionado">
					<f:selectItem itemLabel="Selecione..." itemValue=""
						noSelectionOption="false" />
					<f:selectItems value="#{caixaMB.bancos}" var="banco">
						<f:selectItem itemLabel="#{banco}" itemValue="#{banco}" />
					</f:selectItems>
					<f:ajax event="change" render="msg" />
				</h:selectOneMenu>

				<h:outputLabel value="Número da Conta: " for="itNumero" />
				<h:panelGroup>
					<h:inputText value="#{caixaMB.conta.numero}" id="itNumero"
						required="true" styleClass="iMask"
						requiredMessage="O número da Conta deve ser informado"
						alt="{type: 'fixed', mask: '99999-9', stripMask: false}">
					<f:ajax event="blur" render="msg" />
					</h:inputText>
					<h:outputText value="(99999-9)" />
				</h:panelGroup>

				<h:outputLabel value="Deposito Incial R$: " for="itSaldo" />
				<h:inputText value="#{caixaMB.conta.saldo}"
					id="itSaldo" styleClass="iMask"
					alt="{type:'number', groupSymbol:'.', groupDigits:3, decSymbol: ',', decDigits: 2, stripMask: false}">
					<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
					<f:validateRequired />
					<f:ajax render="msg" />
				</h:inputText>

				<h:outputLabel value="" />
				<h:commandButton action="#{caixaMB.abrirConta()}"
					value="Abrir Conta" />

			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>