<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="titulo">
		<h:outputText value="Caixa Eletrônico" />
	</ui:define>
	<ui:define name="subtitulo">
		<h:outputText value="Caixa 130 Horas" />
	</ui:define>
	<ui:define name="conteudo">
		<h:form id="formTranferencia">
			<h:messages id="msg" showDetail="true" errorStyle="color: red;"
				infoStyle="color: yeelow" />
			<h:panelGrid columns="2">
			
				<h:outputLabel value="Banco:" for="itBanco" />
				<h:selectOneMenu value="#{caixaMB.transferenciaBancaria.banco}" id="itBanco">
					<f:selectItem itemLabel="Selecione..." itemValue="" noSelectionOption="false"/>
					<f:selectItems value="#{caixaMB.bancos}" var="banco">
						<f:selectItem itemLabel="#{banco}" itemValue="#{banco}"/>
					</f:selectItems>
				</h:selectOneMenu>
				
				<h:outputLabel value="Conta Origem:" for="itContaOrigem" />
				<h:inputText value="#{caixaMB.transferenciaBancaria.contaOrigem}" id="itContaOrigem"
					 required="true" requiredMessage="O campo Conta Origem é obrigatório">
						<f:ajax event="blur" render="msg"/>
				</h:inputText>
				
				<h:outputLabel value="Conta Destino" for="itContaDestino" />
				<h:inputText value="#{caixaMB.transferenciaBancaria.contaDestino}"  id="itContaDestino"
					required="true" requiredMessage="O campo Conta Destino é obrigatório">
					<f:ajax render="msg"/>	
				</h:inputText>
				
				<h:outputLabel value="Valor R$: " for="itValor" />
				<h:inputText value="#{caixaMB.transferenciaBancaria.valor}" id="itValor"
					styleClass="iMask"
					alt="{type:'number', groupSymbol:'.', groupDigits:3, decSymbol: ',', decDigits: 2, stripMask: false}">
					<f:convertNumber pattern="#,##0.00" locale="pt_BR"/>
					<f:validateRequired/>
					<f:ajax render="msg"/>
				</h:inputText>
				
				
				<h:commandButton action="#{caixaMB.transferir()}" value="Transferir" />
				<h:commandButton action="/moduloIII/banco/extrato" value="Extrato Online" immediate="true" />
				
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>