<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/moduloIV/templateRichafaces.xhtml">
	<ui:define name="titulo"><h:outputText value="Banco 130 Horas" /></ui:define>
	<ui:define name="subtitulo"><h:outputText value="Extrato Online Softplan" /> </ui:define>
	
	<ui:define name="conteudo">
		<h:form id="formExtratoOnline">
			<h:panelGrid columns="1" rendered="#{empty transferenciasSoftplan}">
				<h:outputLabel value="Nenhuma transferência foi realizada. Acesse o Caixa Eletrônico" />
				<h:commandButton action="/moduloIII/banco/caixa" value="Caixa Eletrônico" />
			</h:panelGrid>
			<h:dataTable value="#{transferenciasSoftplan}" var="transferencia" rendered="#{not empty transferenciasSoftplan}">
				<f:facet name="header">
					<h:outputText value="Transferência" />
				</f:facet>
				<f:facet name="footer">
					<h:commandButton action="/moduloIII/banco/caixa" value="Caixa Eletrônico" />
				</f:facet>
				
				<h:column>
					<f:facet name="header"><h:outputText value="Conta Origem" /></f:facet>
					<h:outputText value="#{transferencia.contaOrigem}" />
				</h:column>
				
				<h:column>
					<f:facet name="header"><h:outputText value="Conta Destino" /></f:facet>
					<h:outputText value="#{transferencia.contaDestino}" />
				</h:column>
				
				<h:column>
					<f:facet name="header"><h:outputText value="Valor R$" /></f:facet>
					<h:outputText value="#{transferencia.valor}">
						<f:convertNumber pattern="#,##0.00" locale="pt_BR"/>
					</h:outputText>
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>