<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"> 

<f:loadBundle basename="mensagens_pt" var="i18n"/>

<h:head>
	<title>
		<h:outputText value="#{i18n['template.titulo']}" /> - 
		<ui:insert name="titulo"><h:outputText value="#{i18n['template.tecnologia']}" /></ui:insert>
	</title>
	<h:outputScript library="js" name="mootools.js" />
	<h:outputScript library="js" name="iMask-full.js" />
	<h:outputScript library="js" name="iMask-init.js" />
	<h:outputStylesheet library="css" name="exemplo.css" />
</h:head>

<h:body>
	<h:form>
		<rich:toolbar height="26" itemSeparator="grid">
			<rich:toolbarGroup>
					<rich:menuItem label="#{i18n['menu.item1']}" action="/index"/>
			</rich:toolbarGroup>
			<rich:toolbarGroup>
				<rich:dropDownMenu label="Menu">
					<rich:menuGroup label="Produto">
						<rich:menuItem label="#{i18n['menu.item3']}" action="#{produtoMB.novo()}"/>
						<rich:menuItem label="#{i18n['menu.item4']}" action="/moduloI/produto/listar"/>
					</rich:menuGroup>
					<rich:menuGroup label="Categoria">
						<rich:menuItem label="#{i18n['menu.item5']}" action="#{categoriaMB.novo()}"/>
						<rich:menuItem label="#{i18n['menu.item6']}" action="/moduloI/categoria/listar"/>
					</rich:menuGroup>
					<rich:menuGroup label="Banco Online">
						<rich:menuItem label="#{i18n['menu.item7']}" action="/moduloIII/banco/caixa"/>
						<rich:menuItem label="#{i18n['menu.item8']}" action="/moduloIII/banco/extrato"/>
						<rich:menuItem label="#{i18n['menu.item80']}" action="/moduloIII/banco/abrirConta"/>
					</rich:menuGroup>
					<rich:menuItem label="#{i18n['menu.item10']}" action="/moduloIV/chat/loginChat"/>
					<rich:menuItem label="#{i18n['menu.item81']}" action="/moduloI/tela"/>
				</rich:dropDownMenu>
			</rich:toolbarGroup>
			<rich:toolbarGroup location="right">
				<rich:menuItem label="#{i18n['menu.item9']}" action="/moduloIV/contato/contato"/>
				<rich:menuItem label="#{i18n['menu.item2']}" action="/moduloI/login"/>
			</rich:toolbarGroup>
		</rich:toolbar>
	</h:form>
	<h1><ui:insert name="subtitulo"><h:outputText value="#{i18n['template.subtitulo']}"/></ui:insert></h1>
	<h:panelGrid columns="1" width="100%" border="0" styleClass="mytable">
		<ui:insert name="conteudo"><h:outputText value="#{i18n['template.conteudo']}"/></ui:insert>
		<ui:include src="/moduloI/rodape.xhtml" />
	</h:panelGrid>
	<ui:debug />
</h:body> 

</html>
